{% include 'menu.html' %}
<main>
    {% include 'context.html' %}
    <section class="content">
        <p> New system user added. </p>
        <table>
            <tr>
                <td>Name</td>
                <td>Surname</td>
                <td>Email</td>
                <td>Role</td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>{{ surname }}</td>
                <td>{{ email }}</td>
                <td>{{ role }}</td>
            </tr>
        </table>
    </section>
</main>
{% include 'foot.html' %}
